{% extends "base.html.twig" %}

{% block content %}

<div class="table">
    <div class="center">
        {% if game is defined and game.phase > 0 %}
                <div class="cardbox">
                    {% if game.phase > 2 %}
                        {% include "proj/game/card.html.twig" with {
                            "color": game.table.hand[4].getColor(),
                            "pattern": game.table.hand[4].getPattern(),
                            "value": game.table.hand[4].getValue()
                        } %}
                    {% endif %}
                </div>
                <div class="cardbox">
                    {% if game.phase > 2 %}
                        {% include "proj/game/card.html.twig" with {
                            "color": game.table.hand[3].getColor(),
                            "pattern": game.table.hand[3].getPattern(),
                            "value": game.table.hand[3].getValue()
                        } %}
                    {% endif %}
                </div>
                <div class="cardbox">
                    {% include "proj/game/card.html.twig" with {
                        "color": game.table.hand[2].getColor(),
                        "pattern": game.table.hand[2].getPattern(),
                        "value": game.table.hand[2].getValue()
                    } %}
                </div>
                <div class="cardbox">
                    {% include "proj/game/card.html.twig" with {
                        "color": game.table.hand[1].getColor(),
                        "pattern": game.table.hand[1].getPattern(),
                        "value": game.table.hand[1].getValue()
                    } %}
                </div>
                <div class="cardbox">
                    {% include "proj/game/card.html.twig" with {
                        "color": game.table.hand[0].getColor(),
                        "pattern": game.table.hand[0].getPattern(),
                        "value": game.table.hand[0].getValue()
                    } %}
                </div>
        {% else %}
            <div class="cardbox"></div>
            <div class="cardbox"></div>
            <div class="cardbox"></div>
            <div class="cardbox"></div>
            <div class="cardbox"></div>
        {% endif %}
    </div>
</div>
<div class="content">
    {% block table %}{% endblock %}
</div>

{% endblock %}