<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/style.css"/>
    <link rel="icon" type="image/x-icon" href="/img/rose-icon32.png">
</head>