<header>
    <nav>
        <a href="<?= $_SERVER['SERVER_NAME'] ?>/">Home</a> |
        <a href="<?= $_SERVER['SERVER_NAME'] ?>/about">About</a> |
        <a href="<?= $_SERVER['SERVER_NAME'] ?>/report">Report</a>
    </nav>
</header>