<header>
    <nav>
        <a href="{{ app.request.getBaseURL() }}/">Home</a> |
        <a href="{{ app.request.getBaseURL() }}/about">About</a> |
        <a href="{{ app.request.getBaseURL() }}/report">Report</a>
    </nav>
</header>