<h3>
	kmom05
</h3>
<p>
	jag vet inte om jag är den enda, men jag hade svårt att förstå vad vi jobbade med under övningarna.
    Jag förstod så klart att vi jobbade med databaser, men jag hade svårt att förstå vad som var
    sqlite och vad som var mariadb. Det var inte förens efter att jag gjorde övningarna och försökte
    göra uppgiften som jag förstod vad det var vi hade gjort under övningarna. Sen efter det var det
    en til utmaning att förstå vilken del av övningarna som var för sqlite och vilken del var för
    mariadb. Jag förstod till slut. Men det tog ett tag att förstå.
</p>
<p>
	Det gick bra att göra övningarna. Förutom att jag tog bort allt jag hade gjort två gånger, låste
    min sqlite fil och sen wipe:ade min sqlite databas. Alla dessa problem uppstod för att jag inte
    förstod var migrations var. Jag vet nu vad de är och vad de används för. Men innan jag lista ut
    det så hade jag hoppat runt mellan olika migrations och sen tagit bort alla innan jag nollställde
    databasen. Så jag blev tvungen att wipe:a min databas och börja om från början. Det var inte svårt,
    bara typ liksom lite slöseri med tid.
</p>
<p>
    Min applikation är ass. Jag ör inte stolt över den. Jag nämnde för några vänner att jag skulle
    bygga ett biblotek och jag fråga dem om vad jag skulle göra ett biblotek om. Eftersom de spelar
    mycket divinity just nu så förslog de det. Det blev inte bra. Jag ångrar mitt val av att följa
    deras förslag och borde ha gjort ett biblotek för pokemon eller något istället. Men eftersom jag
    ligger efter och jag har ingen motivation för detta projekt, så blev allt välldigt fult. Inget är
    snyggt för denna uppgift. Det är det minimum jag kunde göra för att uppfylla kraven för denna
    uppgift. Jag önskar jag hade tid att göra om denna uppgift.
</p>
<p>
    När jag designade min applikation så hade jag ingen plan. Jag återanvände så mycket kod som jag
    kunde och där med gjorde inget speciellt när jag arbeta med användargränssnittet.
</p>
<p>
    Att arbeta med ORM och göra en CRUD var super lätt. Jag förväntade mig att det skulle vara svårare
    och skulle ta MYCKET längre tid än vad det gjorde. Så min åsikt är inget annat än possetivt mot det.
</p>
<p>
    Extra uppgiften värkade användbar och kul att göra. Men jag har tyvärr ingen tid.
</p>
<p>
    I de tidigare kurserna så jobbade vi direkt mot databasen via hemsidan. Det var svårt, tog lång tid
    och krävde mycket fokus. ORM var inget av det. Det var lätt, tog kort tid och det krävde inte mer
    fokus än att göra en vanlig hemsida. Jag gillar ORM.
</p>
<p>
    TIL hur man arbetar med ORM.
</p>
