<h3>
	kmom04
</h3>
<p>
	phpunit har varit helt okej, jag gillade det faktiskt. Men det var en plåga att få igång.
    Jag önskar att det var lättare än vad det var, men det blev bra till slut.
</p>
<p>
    Min upplevese av att använda phpunit var rätt så smooth. Allt kändes självklart och all
    min kod verkade fungera på första försöket. Jag råkade nämligen skapa en massa test tester
    och lyckades få 100% på nästan alla klasser och över 90% totalt efter några ändringar
</p>
<p>
    Min kod var välldigt lätt att testa. Det fanns några grejer som jag hade kunnat förbättra,
    som att lägga till parametrar med default values av null eller något liknande. Men min kod
    var super som det var innan. Jag kunde testa allt. Vissa saker var lite svårare att testa
    än andra, men det var lätt om man har fasit i hand.
</p>
<p>
    Eftersom min kod var så bra som den var så hade jag inte mycket att ändra. Istället la jag
    till förtydlingar till min kod.
</p>
<p>
    Enligt mig är kod som är lätt testad och kod som andra kan läsa, snygg kod. Jag har alltid
    beundrat folk som har kunnat skriva kod som är kompleserad, men som ser lätt ut eller som
    är lätt att använda och testa. Det är mitt mål; skapa kod som vem som helst kan använda:
    Nya kan förstå och använda koden och de som är erfarna kan expandera och fortsätta använda
    min kod på fler än de sätt jag har skapat den för.
</p>
<p>
    TIL hur man dokumenterar variabler och parametrar
</p>