<h3>
    kmom03
</h3>
<p>
    Jag personligen känner inte att flödesdiagramet och psuedokoden hjälper mig, just nu i alla
    fall. Jag kände mycket stress under tiden som jag skrev det och jag kännde att jag borde skriva
    koden istället för att slösa på ett diagram som jag troligen inte kommer att kolla på igen,
    efter att jag blir klar med det. Eftersom detta inte är ett projekt som vi har diskuterat innan
    och jag personligen inte har någon aning om var det leder, så kände jag mig osäker när jag skrev
    psuedokoden. Jag kännde att det skulle kunna sluta med att jag blir tvungen att skriva om allt
    till slut för att det fanns någon extra krav i de/den kommande uppgiften/uppgifterna.
</p>
<p>
    Mitt spel blev bra. Jag blev nöjd med allt jag har gjort. Det blev väldigt lite kod, men allt
    fungerar som det ska. Det ända jag skulle vilja lösa/ändra skulle vara hur jag ändrar vy från
    när man inte har ett spel igång och när man inte har det. Om ett spel inte är igång så misslyckas
    en if-sats i twig filen för spelet och den läser en separat fil. Det känner jag kan förbättras,
    men jag är osäker hur jag gör det på ett bättre sätt. Har nämligen haft problem att hitta
    instruktioner online för att använda symfony.
</p>
<p>
    En annan grej jag önskar jag visst hur jag skulle kunna lösa är hur jag skulle kunna ta bort
    flashes. Inte alla, utan specifikt en flash. Jag känner att jag kan göra så mycket mer om jag
    inte raderar hela session varje gång jag avslutar ett spel.
</p>
<p>
    Mina klasser blev små. Det är en bra sak. Det är så jag vill att min kod ska vara. De klasser
    som spelet är beroende av har unika klasser som bygger från de generella klasserna i föregånende
    kursmoment. Det är bra på flera sätt. Den största anledningen till att det är bäst (och som är
    anledningen till att jag valde att göra så här) är att jag kan göra andra projekt med mina klasser
    utöver detta spel. Sen finns också anledningen att jag inte behöver skriva om min kod för kmom02.
</p>
<p>
    Min kontroller för spelet är super liten. Det är nog vad jag är mest nöjd över. Det blev så liten
    att jag inte tror att det går att förbättra på något sätt.
</p>
<p>
    Jag gillar symfony bättre än att arbeta med vanilla-php, mycket mer. Jag känner att jag facktiskt
    kan fokusera och förstår vad jag skriver, till skillnad från innan. Men! Jag har extrema problem
    med att hitta anteckningar och guider online för symfony. Det känns som att de guider som finns
    är för någon annan variation av symfony eller så finns det två olika variationer av symfony och
    vi använder den mindre populära, som ingen skriver om.
</p>
<p>
    TIL hur man använder klasser. Jag har kännt att jag har haft koll på klasser tidigare, men nu
    när jag fick göra allt för mig själv och inte hade någon vägledning, så hade jag mycket mer
    chanser att testa mig fram och utforska möjligheterna med klasser. Jag hade kul med detta
    kursmoment.
</p>