{% extends "base.html.twig" %}

{% block title %}Card | Shuffle{% endblock %}

{% block header %}Shuffle{% endblock %}

{% block nav %}card{% endblock %}

{% block content %}

<h2>
    Shuffled Deck
</h2>
<p>
    {{ pile }}
</p>

{% endblock %}