<h2>
    Play Blackjack
</h2>
<p>
    Is this your first time?<br>
    If so <a href="{{ app.request.getBaseURL() }}/game/doc">press this link</a> and then come back after reading the rules
</p>
<h3>
    Ready?
</h3>
<p>
    Please select how many players you wish to play as:
</p>
<label for="amount">
    Players
</label>
<input type="number" name="amount" id="amount" min="1" max="8" value="1" />
<p>
    If you are ready to play the game, then please press the button bellow
</p>
<input type="submit" name="start" value="Start" />