{% set baseURL = app.request.getBaseURL() %}

<nav>
    <a href="{{ baseURL }}/">Home</a> |
    <a href="{{ baseURL }}/game">Game</a> |
    <a href="{{ baseURL }}/game/doc">Doc</a> |
    <a href="{{ baseURL }}/game/play">Play</a>
</nav>