{% set baseURL = app.request.getBaseURL() %}

<nav>
    <a href="{{ baseURL }}/">Home</a> |
    <a href="{{ baseURL }}/library">Library</a> |
    <a href="{{ baseURL }}/library/create">Create</a>
</nav>