<nav>
    <a href="{{ app.request.getBaseURL() }}/">Home</a> |
    <a href="{{ app.request.getBaseURL() }}/about">About</a> |
    <a href="{{ app.request.getBaseURL() }}/report">Report</a> |
    <a href="{{ app.request.getBaseURL() }}/card">kmom02</a>
</nav>