{% extends "base.html.twig" %}

{% block title %}Poker | About{% endblock %}

{% block nav %}about{% endblock %}

{% block style %}proj{% endblock %}

{% block content %}

<div class="aboutcontainer">
    <h2 class="centered">
        Options
    </h2>
    <a style="margin: 10px;" href="{% set baseURL = app.request.getBaseURL() %}/proj/reset">
        <button class="longbutton" type="button">Reset content</button>
    </a>
    <hr>
    {% block table %}{% endblock %}
</div>

{% endblock %}
