{% extends "base.html.twig" %}

{% block title %}Poker | About{% endblock %}

{% block nav %}about{% endblock %}

{% block style %}proj{% endblock %}

{% block content %}

<div class="aboutcontainer">
    {% block table %}{% endblock %}
</div>

{% endblock %}
