{% extends "proj/about/about.html.twig" %}

{% block table %}

<h1>
    About
</h1>
<h2>
    Projekt
</h2>
<p>
    Det projekt jag har valt att göra är: Casino med kortspel (poker).
</p>
<p>
    Det kortspel jag har valt att göra är 'Texas hold'em casino style'.
</p>
<p>
    Mitt spel kommer följa de regeler som är presenterade på
    <a href="https://en.wikipedia.org/wiki/Casino_hold_%27em" target="_blank">Casino hold'em wikipedia sida</a>
</p>
<p>
    Jag kommer skapa nya klasser för att skapa spelet, men som expanderar och återanvänder gamla klasser (App\Card klasser),
    för att spara tid och arbeta ergonomiskt, med snygg kod.
</p>

{% endblock %}
