<form method="post" class="gamemenu">
	<h1>
		Time to bet!
	</h1>
	<div style="margin-bottom: 20px;">
		<label for="bet">
			How much do you want to wager?
		</label>
		<br>
		<input type="number" name="bet" id="bet" min="25" step="25">
	</div>
	<div style="margin-bottom: 10px;">
		<label for="aa">
			Do you wish to side bet?
		</label>
		<br>
		<input type="number" name="bet" id="bet" min="0" step="25">
	</div>
	<input class="pokerbutton" type="submit" name="commit" value="Play">
</form>
