<form method="post" class="gamemenu">
	<h1>
		Time to bet!
	</h1>
	<div style="margin-bottom: 20px;">
		<label for="bet">
			How much do you want to wager?
		</label>
		<br>
		<input type="number" name="bet" id="bet" value="25" min="25" step="25">
	</div>
	<input type="submit" name="commit_bet" value="Play">
</form>
