<form method="post" class="gamemenu">
	<h1 style="margin-bottom: 50px;">
		Your cards
	</h1>
	<h2>
		Your bet
	</h2>
	<p>
		{{ game.bet }}
	</p>
	<input class="longbutton" type="submit" name="continue" value="Continue">
</form>