<form method="post" class="gamemenu">
	<h1 style="margin-bottom: 35px;">
		Play
	</h1>
	<div style="margin-bottom: 25px;">
		<label for="bet">
			Do you wish to continue?
		</label>
		<br>
		<input type="submit" name="call" value="Call">
	</div>
	<div>
		<label for="aa">
			Do you wish to fold?
		</label>
		<br>
		<input type="submit" name="fold" value="Fold">
	</div>
</form>
