<form method="post" class="gamemenu">
	<h1>
		Folded
	</h1>
    <h2>
        Money lost:
    </h2>
    <p>
        {{ game.bet }}
    </p>
	<input class="longbutton" type="submit" name="again" value="Play Again">
</form>