{% extends "proj/index.html.twig" %}

{% block title %}Texas hold'em{% endblock %}

{% block nav %}play{% endblock %}

{% block style %}proj{% endblock %}

{% block table %}

<div class="gamemenucontainer">
    <div
        class="fill">
        {# {% include "proj/game/bet.html.twig" %} #}
        {% include "proj/game/flop.html.twig" %}
    </div>
    <div class="fill">
        {% include "proj/game/score.html.twig" %}
    </div>
</div>

{% include "proj/game/play.html.twig" %}

{% endblock %}
