{% extends "proj/index.html.twig" %}

{% block title %}Texas hold'em{% endblock %}

{% block nav %}play{% endblock %}

{% block style %}proj{% endblock %}

{% block table %}

<div class="gamemenucontainer">
    <div class="fill">
        {% if game.phase == 0 %}
            {% include "proj/game/bet.html.twig" %}
        {% elseif game.phase == 1 %}
            {% include "proj/game/flop.html.twig" %}
        {% elseif game.phase == 2 %}
            {% include "proj/game/fold.html.twig" %}
        {% elseif game.phase == 3 %}
            {% include "proj/game/continue.html.twig" %}
        {% elseif game.phase > 3 %}
            {% include "proj/game/finale.html.twig" %}
        {% endif %}
    </div>
    <div class="fill">
        {% if game.phase == 1 %}
            {% include "proj/game/score.html.twig" %}
        {% elseif game.phase >= 3 %}
            {% include "proj/game/result.html.twig" %}
        {% endif %}
    </div>
</div>

{% if game.phase != 0 %}
    {% include "proj/game/play.html.twig" %}
{% endif %}

{% endblock %}
