<div class="homecenter">
	<div class="handcontainer">
		<div class="hand">
			<div class="cardbox">
				<div class="cardback"></div>
			</div>
			<div class="cardbox">
				<div class="cardback"></div>
			</div>
		</div>
		<div class="hand">
			<div class="cardbox">
				<div class="card black">
					<p>
						&#x2660;
					</p>
					<p>
						A
					</p>
				</div>
			</div>
			<div class="cardbox">
				<div class="card red">
					<p>
						&#x2665;
					</p>
					<p>
						A
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
