<div method="post" class="gamescore">
	<h2 style="margin: 35px;">
		Score
	</h2>
	<div style="margin-bottom: 35px;">
		<p>
			Current bet:
		</p>
		<p>
			0
		</p>
	</div>
	<p>
		Total bet if call:
	</p>
	<p>
		0
	</p>
</div>
