<div method="post" class="gamescore">
	<h2 style="margin: 35px;">
		Score
	</h2>
	<div style="margin-bottom: 35px;">
		<h3>
			Current bet:
		</h3>
		<p>
			{{ game.bet }}
		</p>
	</div>
	{% if game.phase == 1 %}
		<p>
			Total bet if call:
		</p>
		<p>
			{{ game.bet * 2 }}
		</p>
	{% elseif game.phase == 3 %}
		<h3>
			You have:
		</h3>
		<p>
			{{ game.player.hand_rank[1] }}
		</p>
	{% endif %}
</div>
