{% include 'incl/head.twig' with {"title": "Report | About", "style": "css/style.css"} %}

<html>

<body>

	{% include 'incl/nav.twig' %}

	<header>
		<h1 class="centered">
			Anton Glanborg - Report
		</h1>
	</header>
	<div class="maincontainer">
		<div class="container">
			<h2>
				About
			</h2>
			<p>
				"Kursen Objektorienterade webbteknologier, a.k.a. mvc, fokuserar
				på objektorienterade programmeringstekniker i programmeringsspråket
				PHP. Klassiska objektorienterade konstruktioner hanteras tillsammans
				med objektorienterad programmering i webbaserat ramverk tillsammans
				med databaser samt enhetstestning." -
				<a href="https://dbwebb.se/kurser/mvc-v2" target="_blank">Mikael Roos</a>
			</p>
			<p>
				Allt arbete som jag gör personligen under denna kurs kommer att
				publiseras på följande git-account:<br>
				<a href="https://github.com/AGlanborgBTH/MVC-report" target="_blank">
					Github - AGlanborgBTH
				</a>
			</p>
		</div>
	</div>

	{% include 'incl/footer.twig' %}

</body>

</html>
