<!DOCTYPE html>
<html lang="sv">

    {% if block('title') is defined %}
        {% include 'incl/header.twig' with {'title': block('title')} %}
    {% else %}
        {% include 'incl/header.twig' with {'title': 'New page'} %}
    {% endif %}

    <body>
        {% if block('nav') is defined %}
            {% include 'incl/nav/' ~ block('nav') ~ '.twig' %}
        {% else %}
            {% include 'incl/nav/report.twig' %}
        {% endif %}

        {% set _header = block('header') %}
        {% if _header is not empty %}
            <header>
                <h1 class="centered">
                    {% block header %}{% endblock %}
                </h1>
            </header>
        {% endif %}

        <div class="maincontainer">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% include 'incl/footer.twig' %}
    </body>
</html>
