{% include 'incl/head.twig' with {"title": "Report | Homepage", "style": "css/style.css"} %}

<html>

<body>

	{% include 'incl/nav.twig' %}

	<header>
		<h1 class="centered">
			Anton Glanborg - Report
		</h1>
	</header>
	<div class="maincontainer">
		<div class="container">
			<h2>
				Välkommen
			</h2>
			<div class="chowder">
				<img src="img/my_chowder.png" alt="Chowder" style="height: 300px; width: 225px;"/>
			</div>
			<p>
				Jag heter Anton Glanborg.
			</p>
			<p>
				Jag är 22 år från Märsta och studerar BTHs Webbprogrammering program i två år. Denna kurs
				läser vi under den fjärde läsperioden.
			</p>
			<p>
				Mitt mål med detta program är att utbilda mig till en fullstack webbprogrammerare och sedan,
				efteråt skaffa jobb i förhoppning om att efterfrågan för ny utbildade fullstack programmerare
				efterfrågas.
			</p>
			<p>
				Jag har inga åsikter om denna kurs än så länge.
			</p>
			<p>
				Utöver studierna så har jag intresse i musik, spel och träning. Jag försöker balansera alla
				fyra intressen på samma gång under tiden som jag studerar, men det händer då och då att jag
				måste ge upp något för att holla mig ikapp med studierna.
			</p>
		</div>
	</div>

	{% include 'incl/footer.twig' %}

</body>

</html>
