{% include 'incl/head.twig' with {"title": "Report", "style": "css/style.css"} %}

<html>

	<body>

		{% include 'incl/nav.twig' %}

		<header>
			<h1 class="centered">
				Anton Glanborg - Report
			</h1>
		</header>
		<div class="maincontainer">
			<div class="container">
				<h2>
					Report
				</h2>

				{% include 'kursmoment/kmom01.twig' %}

			</div>
		</div>

		{% include 'incl/footer.twig' %}

	</body>

</html>
