<h3>
	Kmom01
</h3>
<p>
	Jag har inga tidigare erfarenheter med objektorientiring utöver Python kursen som vi
	läste under föregående lästillfälle. Anledningen till detta är för att jag inte
	vågade/orkade ge mig in på ett sånt stort ämne på egenehand, utan jag ville ha vägledning
	genom ämnet.
</p>
<p>
	Kodbasen för report sidan är stor! Jag känner att det är för många filer och mappar
	för att kallas en 'simpel' kodbas. Jag personligen upplevde allt som en gägga av kod som
	jag sakta lista ut vad som var vad.
</p>
<p>
	Jag hade önskat att instruktionerna för uppgiften berättade var bilder och stylesheets
	skulle läggas och hur man nådde dem, för utöver problemen med php8.1 och cygwin så var det
	ett av mina stora problem med kursen än så länge.
</p>
<p>
	Utöver de dåliga delarna av kodbasen (mycket mappar och filer) (placering av bilder
	och stylesheet) så har ramverket varit helt okej. Jag stötte på problem när jag försökte
	hitta dokumentation för symfony, då jag försökte skapa sidor men ingen av dem poppade upp
	och jag errors för att dokumentationen för symfony är annorlunda från utrymmet vi
	programmerar i.
</p>
<p>
	Jag har inte läst genom hela 'php the right way' artikeln för att jag fastnade under
	"Language Highlights" artikeln. De skriver om namespaces och Standard PHP library (SPL).
	Jag var sugen på att läsa mer om SPL och få en förstående för vad programmerings språk
	räknar som 'commonly needed datastructure classes' och lära mig om namespaces. För jag har
	vet inte ens var man skulle börja för att deklarera namespaces och se till att de inte kan
	krocka med andra lika nämnda grejer.
</p>
<p>
	TIL varför jag borde skaffa docker och ge upp på cygwin helt.
</p>
<h4>
	php: klasser och objekt
</h4>
<p>
	För att programmera med klasser och objekt så behöver man först förstå vad en klass och
	ett objekt är. Objekt är instanser av Klasser.
</p>
<p>
	Sättet man deklarerar klasser och definerar metoder och variabler är inte så annorlunda
	från hur man gör i andra språk (Python bl.a.), men sättet man kallar på dem är annorlunda.
	Man skapar en instans av en klass med "new".
</p>
<p>
	I php är det viktigt att man deklarerar datatyper för alla variabler
</p>
<p>
	Privata och publika variabler i klasser är stor skillnad då man oftast inte kan ändra
	privata variabler utan att definera en setter först.
</p>
