{% extends "proj/index.html.twig" %}

{% block title %}Poker Homepage{% endblock %}

{% block nav %}proj{% endblock %}

{% block style %}proj{% endblock %}

{% block table %}

<div class="homecenter">
    <div class="homeline column spaceeven">
        <div class="titleholder truecenter">
            <div class="column">
                <h1>
                    TEXAS HOLD'EM
                </h1>
            </div>
        </div>
        <div class="titleholder truecenter">
            <form method="post" class="column homebuttoncontainer">
                <a style="margin: 10px;" href="{% set baseURL = app.request.getBaseURL() %}/proj/game">
                    <button type="button">Play</button>
                </a>
                <a style="margin: 10px;" href="{% set baseURL = app.request.getBaseURL() %}/proj/login">
                    <button type="button">Login</button>
                </a>

                {# <input type="submit" name="logout" value="Logout"> #}

                <a style="margin: 10px;" href="{% set baseURL = app.request.getBaseURL() %}/proj/register">
                    <button type="button">Register</button>
                </a>
                {# <a style="margin: 10px;" href="{% set baseURL = app.request.getBaseURL() %}/proj/history">
                    <button type="button">History</button>
                </a> #}
                <a style="margin: 10px;" href="{% set baseURL = app.request.getBaseURL() %}/proj/about">
                    <button type="button">About</button>
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
