{% extends "base.html.twig" %}

{% block title %}Report | About{% endblock %}

{% block header %}MVC - About{% endblock %}

{% block content %}

	<h2>
		About
	</h2>
	<figure>
		<blockquote>
			"Kursen Objektorienterade webbteknologier, a.k.a. mvc, fokuserar
			på objektorienterade programmeringstekniker i programmeringsspråket
			PHP. Klassiska objektorienterade konstruktioner hanteras tillsammans
			med objektorienterad programmering i webbaserat ramverk tillsammans
			med databaser samt enhetstestning."
		</blockquote>
		<figcaption>
			-
			<cite>Mikael Roos</cite>.<br>
			Retrieved
			<a href="https://dbwebb.se/kurser/mvc-v2" target="_blank">
				from dbwebb
			</a>
		</figcaption>
	</figure>
	<p>
		Allt arbete som jag gör personligen under denna kurs kommer att
		publiseras på följande git-account:<br>
		<a href="https://github.com/AGlanborgBTH/MVC-report" target="_blank">
			Github - AGlanborgBTH
		</a>
	</p>

{% endblock %}
