{% extends "base.html.twig" %}

{% block title %}Report | Report{% endblock %}

{% block header %}MVC - Report{% endblock %}

{% block content %}

<h2>
	Report
</h2>

{% include 'report/kursmoment/kmom01.twig' %}
{% include 'report/kursmoment/kmom02.twig' %}
{% include 'report/kursmoment/kmom03.twig' %}
{% include 'report/kursmoment/kmom04.twig' %}
{% include 'report/kursmoment/kmom05.twig' %}
{% include 'report/kursmoment/kmom06.twig' %}
{% include 'report/kursmoment/kmom10.twig' %}

{% endblock %}